body {
  width: auto;
}

.nav-bar {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #c4fff9, #07beb8, purple);
  border: 0.2em solid lightgray;
}

.nav-bar li a {
  display: block;
  color: grey;
  text-align: center;
  padding: 0.5em 1em;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-bar li {
  float: left;
}

.nav-bar li a:hover {
  background-color: #68d8d6;
  color: black;
}

.active {
  background-color: lightgray;
}

nav {
  position: sticky;
  top: 0;
}

h1::first-letter {
  font-style: italic;
  font-size: 1.8em;
  color: #07beb8;
}

h1 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 2em;
}

p {
  font-size: 1.2em;
}

/* Home Page */
#home {
  height: 31.2em;
}

.img {
  height: 5em;
  width: 100%;
}

.books {
  height: 17em;
  width: auto;
}

.impact {
  height: 17em;
  width: auto;
}

section {
  display: grid;
  grid-template-areas:
    "rs rs ls"
    "rsb lsb lsb"
    "foot foot foot";
  height: auto;
}

.rs {
  grid-area: rs;
  text-align: center;
}

.ls {
  grid-area: ls;
  text-align: center;
}

.rsb {
  grid-area: rsb;
  text-align: center;
}

.lsb {
  grid-area: lsb;
  text-align: center;
}

.footer {
  grid-area: foot;
}

footer {
  background-image: linear-gradient(gray, black);
  font-size: 1.2em;
  height: auto;
  width: 100%;
  margin-bottom: 3em;
  text-align: center;
  color: white;
}

footer ul li {
  list-style-type: none;
  margin: 1em;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  font-weight: lighter;
}

.fusion-standard-logo {
  width: 1em;
  height: auto;
}

.sFlh5c-pT0Scc-iPVvYb {
  width: 7em;
  height: auto;
}

.WIOA {
  width: 3em;
  height: auto;
}

/* Anastasia's Page */

.sec {
  display: grid;
  grid-template-areas:
    "rs rs rs rs ls ls ls"
    "mr mr mr ml ml ml ml"
    "rsb rsb rsb rsb lsb lsb lsb";
}

.graphic {
  grid-area: rs;
  text-align: center
}

.graphic h2 {
  font-family: "Courier New", Courier, monospace;
  font-weight: lighter;
  font-size: 1.5em;
}

.intern {
  grid-area: ml;
  text-align: center
}

.next {
  grid-area: rsb;
  text-align: center;
}