body{
  width: auto;
}

.nav-bar {
  list-style-type: none;
  display: block;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-image: linear-gradient(to right, #c4fff9, #3dccc7);
}

.nav-bar li a {
  display: block;
  color: grey;
  text-align: center;
  padding: .5em 1em;
  text-decoration: none;
  font-size: 1.5em;
}

.nav-bar li {
  float: left;
}

.nav-bar li a:hover {
  background-color: #68d8d6;
  color: black;
}

.active {
  color: black;
}

nav{
  position: sticky;
  top: 0;
}

div {
height: 700px;
}

footer {
  display: block;
  background-image: linear-gradient( gray, black);
  font-size: 1.2em;
  height: 200px;
  text-align: center;
  color: white;
}

footer ul li {
  list-style-type: none;
  margin: 1em;
}

footer ul li a {
  text-decoration: none;
  color: white;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: lighter;
}

h1::first-letter {
 font-style: italic;
  font-size: 1.8em;
}

h1 {
font-family: 'Courier New', Courier, monospace;
font-weight: lighter;
}

p {
  font-size: 1.2em;
}