:root {
  font-family: "Segoe UI", "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
}

p {
  background-color: yellow;
}

h2 {
  text-transform: uppercase;
}

h4 {
  text-transform: lowercase;
}

.center {
  text-align: center;
  color: red;
}

p.center {
  color: blue;
  font-size: 1.3em;
}

#chapter {
  font-weight: 900;
  text-transform: uppercase;
}

h2,
#chapter {
  text-transform: uppercase;
  color: green;
}

h1,
h2,
.center {
  text-align: center;
}

#FirstHeading {
  background-color: blue;
  font-size: 40px;
  color: purple;
  border-color: aqua;
}

#SecondHeading {
  background-color: yellow;
  font: 50px;
  color: orange;
  border-color: green;
}

.days {
  list-style-position: inside;
}

.days li {
  text-transform: uppercase;
  color: #a0a;
  font-size: 1.4em;
}

.flavors {
  list-style-type: circle;
}

.flavors li {
  font-size: 1.2em;
  text-transform: lowercase;
}

.nav-h,
.nav-v {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #333;
}

ul li a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.nav-h li {
  float: left;
}

.nav-v {
  width: 200px;
}

ul li a:hover {
  background-color: #111;
}

.active {
  background-color: #04aa6d;
}

#handling-div {
  background-color: #17255a;
}

#handling-h1 {
  text-align: left;
  background-color: #7c9885;
}

#handling-p {
  /* margin-top: 0;
  margin-bottom: 0; */
  display: inline;
  /* display: inline-block; */
  background-color: #5e0b15;
}

#handling-a {
  display: block;
  /* display: inline-block; */
  background-color: #fde74c;
}